table {
  /* border-collapse: collapse; */
  /* width: 100%; */

  --gray-color: #ddd;
}

td, th {
  border: 1px solid var(--gray-color);
  text-align: left;
  padding: 8px;
}

thead {
  position: sticky;
  top: 0;
}

thead tr, tr:nth-child(even) {
  background-color: var(--gray-color);
}
